.searchInputs {
    /* margin-top: 105px; */
    display: flex;
    width: 100px;
    /* border: 1px solid rgb(233, 20, 20); */
    height: 30px;
  }
  
  .search{
    /* border: 1px solid yellow; */
    margin-right: 150px;
    margin-bottom: 30px;
    float: left;
  }

  .search input {
    background-color: white;
    /* border: 1px solid rgb(233, 20, 20); */
    border-radius: 2px;
    /* border-top-right-radius: 0px; */
    /* border-bottom-right-radius: 0px; */
    font-size: 18px;
    /* padding: 15px; */
    height: 48px;
    width: 200px;
    float: left;
    margin-bottom: 20px;
    justify-content: flex-start;
  }
  
  .searchIcon {
    height: 50px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
    justify-content: center;
    border: 1px solid gray;
  }
  

  input:focus {
    outline: none;
  }


  .searchIcon svg {
    font-size: 35px;
  }
  

  .dataResult {
    margin-top: 5px;
    width: 200px;
    height: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid rgb(141, 21, 21);
    justify-content: center;
    justify-items: center;
    font-size: 14px;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: lightgrey;
  }
  
  #clearBtn {
    cursor: pointer;
  }
  