.home {
  width: 100%;
  height:550px;
  border:1px solid  #616161;
  background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/01/ORB_Storefront_6_imgB_1400x600_20211028.jpg?impolicy=fcrop&w=900&h=225&q=mediumHigh");
  background-size: cover;
  background-position: bottom;
  
  }

  .containerSearchBox {
    width:90%;
    /* border:1px solid yellow; */
    height:450px;
    text-Align:center;
    margin:auto;
    margin-top:50px;
    background:#fff;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    gap:20px;
    border-radius: 10px;

  }


  .Flight{
   /* border: 1px solid red; */
   width: 80%;
   margin: auto;
   font-size: 20px;
   justify-content: space-between;
   border-bottom: 1px solid #6d6868;
  }


.flat{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  width: 100%;
  font-size: 20px;
}

.flat h3 {
  color: #616161;
  cursor: pointer;
  display: grid;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.125rem;
}

.flat h3 :nth-last-child(1){
  background-color: teal;
  border-bottom: teal;
}

.flat h3:hover{
  color: rgb(15, 94, 94);
  border-bottom: 2px solid teal;
}

.icon {
 height: 50px;
}






