.navbar_container {
    width: 100%;
    background-color: #00253c;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    position:sticky;
    top: 0;
    height: 70px;
    z-index: 1;
    overflow: hidden;
}

.navbar_logo_div {
    display: flex;

    place-items: center;
    width: 35%;
    margin-left: 10%;
}


.navbar_right_options_div {
    display: flex;
    place-items: center;
    width: 35%;
    gap: 5%;
    margin-right: 7%;
}

.navbar_logo_div>a {
    /* margin-left: 30%; */
    margin-right: 10%;
}

.navbar_right_options_div>nav {
    display: flex;
    gap: 30px;
}

.navbar_right_options_div>nav>a {
    text-decoration: none;
    color: inherit;
}

.navbar_right_options_div>nav>a:hover {
    color: #007e8f;
}

.signin:hover {
    cursor: pointer;
    color: #00a4bb;
}

/* test */
.signin_popup {
    width: 350px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 10px;

    z-index: 2;

    position: fixed;
    color: black;

    right: 10px;
    top: 90px;
    background: white;
    padding: 15px;
}

.signin {
    position: relative;
}

.signin_btn {
    height: 35px;

    margin: auto;

    border-radius: 5px;

    background-color: #c83259;
    cursor: pointer;

    display: flex;
    place-items: center;
    justify-content: center;
}

.signin_btn>a {
    text-decoration: none;
    color: white;
}

.signin_btn:hover {
    background: rgb(226, 53, 53);
}

.signup_btn {
    color: #00a4bb;
    text-decoration: none;
    text-align: center;
    margin-left: 90px;
}

.signup_btn:hover {
    color: black;
}

.otherLinks>p>a {
    color: black;
    text-decoration: none;
}

.otherLinks>p>a:hover {
    color: #00a4bb;
}

.more_travel_parent_div {
    position: relative;
}

.more_travel_parent_div>div>div:hover,
.more_travel_btn:hover,
.more_travel_dropdown>p:hover {
    cursor: pointer;
    color: #00a4bb;
}

.more_travel_dropdown {
    position: fixed;

    width: 300px;
    color: black;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 10px;
    z-index: 2;
    top: 90px;
    background: rgb(107, 34, 34,02, 31, 31);
    padding: 15px;
    display: flex;
    flex-direction: column;
    line-height: 6px;
}


.more_travel_dropdown>div {
    display: flex;
    align-items: center;
    gap: 14px;
}

.more_travel_btn {
    display: flex;
    align-items: center;
    gap: 10px;
}