.div {
    border: 1px solid black;
    width: 80%;
    margin: auto;
    height: 100px;
    text-align: center;
}


.inp{
    border: 1px solid red;
    width: 80%;
    margin: auto;
    display: flex;
    gap: 20;
    justify-content: space-between;
}


.inpuy1{
   
}