
.FeaturedOffers {
    margin: 15px 20px;
}

.FeaturedOffers > div:first-of-type {
    display: flex;
    justify-content: space-between;
}

.featuredImgBox img:first-of-type {
    width: 75%;
    height: 250px;
}

.FeaturedOffers > div:last-of-type {
    position: relative;
    bottom: 112px;
    width: 75%;
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    padding: 0 20px;
    padding-top: 10px;
    box-sizing: border-box;
}

.FeaturedOffers > div:last-of-type h2 {
    margin-bottom: 0;
}

.FeaturedOffers > div:last-of-type p {
    padding-bottom: 10px;
}