.signUp_container {
    color: gray;
}

.logo {
    width: 100%;
    height: 100%;
    margin: auto;

}

.logo_back {
    padding: 10px;
    height: 35px
}

.signin_div {

    margin: auto;
    width: 25%;
    /* text-align: start; */
    box-sizing: border-box;
}

.signin_div>h1 {
    color: black;
    margin-bottom: 3px;
}

.signin_div>input {
    width: 97%;
    height: 40px;
    margin-top: 6%;
    font-size: 15px;
    padding: 2px 5px 2px 12px;
}

.signin_div .checkbox {
    margin-top: 8%;
    height: 15px;
    margin-left: -166px;

}

.term_conditions span {
    color: #08657a;
    cursor: pointer;
    font-size: 13px;
    text-decoration: underline;
}

.term_conditions {
    font-size: 13px;
    color:black;
}

.end_div a {
    color: #347e8f;
    text-decoration: none;

}

.end_div {
    margin: auto;
    width: 26%;
    text-align: center;
    box-sizing: border-box;
}

.button {

    /* margin: auto; */
    width: 100%;
    height: 45px;
    border: none;
    background-color: #e91b52;
    margin-bottom: 4%;
    margin-top: 15px;
    border-radius: 5px;
}

.button {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 17px;
    cursor: pointer;

}

.social_media {
    display: flex;
    justify-content: center;
    gap: 7%;
    padding-bottom: 10px;
}

.social_media>img {
    width: 18px;
}

button:disabled {
    background: #ebb6c4;
    cursor: not-allowed;

}
.togg{
    margin-top: -38px;
    position: absolute;
    margin-left: 141px;
}