body{
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.form{
    /* border: 1px solid gray; */
    /* width: 400px; */
    margin: auto;
}
h1{
    text-align: center;
    font-size: 35px;
    font-style: italic;
}
.button{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    /* margin: auto; */
}
.cancel{
    padding: 10px 15px;
    background-color: rgb(199, 26, 55);
    border-radius: 10px;
    border: none;
    /* margin: auto; */
}
.text{
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
}

.Send{
    padding: 10px 15px;
    background-color: rgb(16, 167, 161);
    border-radius: 10px;
    border: none;
}
.userdetail{
     margin: auto;
    text-align: center;
     justify-content: center;
}
.enterotp{
    /* border: 1px solid red; */
    width: 600px;
    height: 400px;
    /* margin-bottom:50px; */
    gap: 20px;
}
.alert{
    width: 50px;
    text-align: center;
    justify-content: center;
    justify-items: center;
}


.inputbox{
    /* border: 1px solid black; */
    display: flex; 
    margin: auto;
}

.input{
    width: 40px;
    height: 40px;
    margin: auto;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin: 10px;
}

/* ==================== */


#container{
    /* border: 1px solid black; */
    width: 400px;
    height: 300px;
     margin: 10% auto;
      text-align: center;
      margin-bottom: -10px;
      /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
h1{
    margin: 20px;
}

input{
    /* width: 40px; */
    /* height: 40px; */
    margin: 3px;
    outline: none;
    text-align: center;
    font-size: larger;
    text-decoration: none;
}
input:focus{
   border: 2px solid rgb(19, 206, 216);
}

.box{
    margin: auto;
}